<div class="show_tracks">
  <h3><strong><%= @track.title %></strong></h3>

  <p>
    <strong>Artist: <%= @track.artist %></strong>
  </p>

  <p>
    <a href="<%= @track.url %>"><%= @track.url %></a>
  </p>

  <p>
    <small>Created at: <%= @track.created_at %></small>
  </p>

  <hr/>

  <h5>Other tracks from this artist:</h5>  
  
  <% Track.where(artist: @track.artist).each do |track| %>
    
      <p>
        <h5><a href="/tracks/<%= track.id %>"><%= track.title %></a></h5>
      </p>
    
  <% end %>

  <hr/>

  <a href="/tracks">Back to All Tracks</a>

</div>