<div class="show_tracks">
  <h2><%= @track.title %></h2>

  <p>
    Artist: <%= @track.artist %>
  </p>

  <p>
    <a href="<%= @track.url %>"><%= @track.url %></a>
  </p>

  <p>
    <small>Created at: <%= @track.created_at %></small>
  </p>

<hr/>

<h4>Other tracks from this artist:</h4>  
<% Track.where(artist: @track.artist).each do |track| %>
  <div>
    <p>
      <a href="/tracks/<%= track.id %>"><%= track.title %></a>
    </p>
  </div>
<% end %>

<hr/>

<a href="/tracks">Back to All Tracks</a>

</div>